---
layout: layouts/default.html
title: Contribute - adrianywh.bitbucket.io
permalink: /contribute.html
tags: page
date: 2020-07-04
navText: Contribute
description: A page to allow visitors to contribute via paypal or mention me in twitter.
---
<!-- <script>
    gtag('config', 'UA-115953143-3', {
    'page_path': '/contribute'
    });
</script> -->

<main role="main" class="container">
    <div class="starter-template content">
        <h1>Contributing</h1>
        <hr>
        <p>This page is mantained by me as a hobby to compile user-friendly contents.</p>
        <p>If you want to contribute to a project and make it better, your help is very welcome.</p>
        <p>Right now I would appreciate if you mention me in twitter {% include mention.html %}</p>
    </div>
</main>