---
layout: layouts/default.html
title: Home - adrianywh.bitbucket.io
permalink: /
---
<!-- <script>
    gtag('config', 'UA-115953143-3', {
    'page_path': '/index'
    });
</script> -->

<main role="main" class="container">
    <div class="starter-template content">
        <h1>Hello World.</h1>
        <p class="lead">Welcome to my BitBucket page</p>
        <p>{% include mention.html %}</p>
        <p>Read my <a href='{{site.baseurl}}/privacy.html'>privacy policy</a></p>
    </div>
</main>