---
layout: layouts/default.html
title: Derby Exhange - adrianywh.bitbucket.io
permalink: /sosfomtderbyexhange.html
tags: sosfomt
date: 2020-08-04
navText: Derby Exchange Calculator
description: A calculator to estimate profit gain on exchanging tickets for medals during spring and autumn derby in Story of Seasons Friends of Mineral Town.
---
<!-- <script>
    gtag('config', 'UA-115953143-3', {
    'page_path': '/sosfomtderbyexhange'
    });
</script> -->

<script src="../assets/vendor/js/jquery.js"></script>

<main role="main" class="container">
    <div class="starter-template content" id="swshBTHelper">
        <div class="row">
            <div class="col-8">
                <div class="table-container">
                    <table id="exchangeTable" class="table table-striped table-hover">
                    </table>
                </div>
            </div>
            <div class="col">
                <div id="helpNotification" class="notification">
                    <p id="bagSlotNotification"></p>
                    <p id="bagCountNotification"></p>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Number of Tickets</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-expanded">
                            <div class="field">
                                <div class="control is-expanded">
                                    <input class='input calcInput' type="number" oninput="validateCalcInput(id)" id = "ticketQuantityInput" min=0 max=999999 value=0>
                                </div>
                            </div>
                        </div>
                        <p class="help">Suggesting <strong id="ticketAmountSuggestion">0</strong> tickets</p>
                    
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label" >Odds</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class='input calcInput' type="number" oninput="validateCalcInput(id)" id = "oddsInput" min=0 max=999999 value=0>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Cost per Ticket</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <label class="label" id="ticketValue">100</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Gold Spend</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <label class="label" id="goldSpend"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Expected Medals</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <label class="label" id="expectedTickets"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Total Medals Needed</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <label class="label" id="totalMedalsNeeded"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <table class="table table-striped table-hover" id="profitTable">
                        <thead>
                            <tr>
                                <td></td>
                                <td>Low</td>
                                <td>High</td>
                            </tr>
                        </thead>    
                        <tbody>
                            <tr>
                                <td>Total Sales</td>
                                <td class="profitTableItem" id="totalSalesLow"></td>
                                <td class="profitTableItem" id="totalSalesHigh"></td>
                            </tr>
                            <tr>
                                <td>Profit</td>
                                <td class="profitTableItem" id="profitLow"></td>
                                <td class="profitTableItem" id="profitHigh"></td>
                            </tr>
                            <tr>
                                <td>Protif %</td>
                                <td class="profitTableItem" id="profitPercentLow"></td>
                                <td class="profitTableItem" id="profitPercentHigh"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="is-horizontal">            
                    <div class="buttons is-right">
                        <button type="button" class="btn btn-warning" onclick="resetBtForm()">Reset</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="footer">
            <div class="content">
                Notes:
                <ul>
                    <li>
                        For more info, head over to <a href="https://fogu.com/sos3/events/spring_festivals.html" target="_blank" rel="noopener noreferrer">www.fogu.com</a> or <a href="https://ranchstory.miraheze.org/wiki/Festivals_(Story_of_Seasons:_Friends_of_Mineral_Town)#Spring_18.2C_Spring_Derby" target="_blank" rel="noopener noreferrer">Ranch Story</a>
                    </li>
                    <li>Developed using <a href="https://jquery.com/" target="_blank" rel="noopener noreferrer">jquery</a>, <a href="https://getbootstrap.com/" target="_blank" rel="noopener noreferrer">boostrap</a> and <a href="https://www.11ty.dev/" target="_blank" rel="noopener noreferrer">eleventy</a></li>
                    <li>Bug report/ comments: 
                        <a href="https://bitbucket.org/adrianywh/adrianywh.bitbucket.io/issues" target="_blank" rel="noopener noreferrer">here</a>
                    </li>
                    <li>Story of Seasons: Friends of Mineral Town is © Marvelous and XSeed Games. Character design and artwork is © Marucome.</li>
                </ul>
            </div>
        </div>
    </div>
</main>
<script src="../assets/js/derbyexhangehelper.js"></script>
