---
layout: layouts/default.html
title: Battle Tower Helper - adrianywh.bitbucket.io
permalink: /swsh.html
tags: pkmn
date: 2020-07-02
navText: Battle Tower Helper
description: "A helper tool to view opponent trainer Pokemon in generation 8 Pokemon sword and shield battle tower facility."
---
<!-- <script>
    gtag('config', 'UA-115953143-3', {
    'page_path': '/swsh'
    });
</script> -->

<script src="../assets/vendor/js/jquery.js"></script>

<main role="main">
    <div class="starter-template content" >
        <form id="swshBTHelper" class="container">
            <div class="form-row row">
                <div class="col col-lg-6">
                    <div class="row form-group">
                        <div class="col-lg-4">
                            <label class="label col-form-label" for="selectTrainer">Trainer</label>
                        </div>
                        <div class="col">
                            <select class="form-select" id="selectTrainer">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row row">
                <div class="col col-lg-6">
                    <div class="row form-group">
                        <p class="control">
                            <div class="col-lg-4">
                                <label class="label col-form-label" for="selectPkmn1">Pkmn 1</label>
                            </div>
                            <div class="col">
                                <select class="form-select" id="selectPkmn1">
                                </select>
                            </div>
                        </p>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-4">
                            <label class="label" for="pkmn1Type">Type</label>
                        </div>
                        <div class="col">
                            <span id = "pkmn1Type"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-4">
                            <label class="label" for="pkmn1Abilities">Ability</label>
                        </div>
                        <div class="col">
                            <span id = "pkmn1Abilities"></span>
                        </div>
                    </div>
                    <table id="resultTable1" class="table table-striped table-hover">
                    </table>
                </div>
                <div class="col col-lg-6">
                    <div class="row form-group">
                        <p class="control">
                            <div class="col-lg-4">
                                <label class="label col-form-label" for="selectPkmn2">Pkmn 2</label>
                            </div>
                            <div class="col">
                                <select class="form-select" id="selectPkmn2">
                                </select>
                            </div>
                        </p>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-4">
                            <label class="label" for="pkmn2Type">Type</label>
                        </div>
                        <div class="col">
                            <span id = "pkmn2Type"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-4">
                            <label class="label" for="pkmn2Abilities">Ability</label>
                        </div>
                        <div class="col">
                            <span id = "pkmn2Abilities"></span>
                        </div>
                    </div>
                    <table id="resultTable2" class="table table-striped table-hover">
                    </table>
                </div>
            </div>
            <br>
            <br>
            <div class="buttons d-flex justify-content-end">
                <button type="button" class="btn btn-warning" onclick="resetBtForm()">Reset</button>
            </div>
        </form>
        <br>
        <div class="footer">
            <div class="container">
                Notes:
                <ul>
                    <li>
                        <a href="https://docs.google.com/spreadsheets/d/1UpeXShv9f8H1ad3LCYPiMoKrBNeW4ccrvaIZcMUaumQ" target="_blank" rel="noopener noreferrer">
                            Tower sets and trainers</a> courtesy of SadisticMystic, based on data dumps from Kaphotics
                        <a href="https://www.smogon.com/forums/threads/8th-generation-battle-tower-discussion-records.3656190/" target="_blank" rel="noopener noreferrer">Smogon-
                            8th Generation Battle Tower Discussion & Records</a>
                    </li>
                    <li>Developed using <a href="https://jquery.com/" target="_blank" rel="noopener noreferrer">jquery</a>, <a href="https://getbootstrap.com/" target="_blank" rel="noopener noreferrer">boostrap</a> and <a href="https://www.11ty.dev/" target="_blank" rel="noopener noreferrer">eleventy</a></li>
                    <li>Bug report/ comments: 
                        <a href="https://bitbucket.org/adrianywh/adrianywh.bitbucket.io/issues" target="_blank" rel="noopener noreferrer">here</a>
                    </li>
                    <li>Pokémon is © of Nintendo, 1995-2020</li>
                </ul>
            </div>
        </div>
    </div>
</main>
<script src="../assets/js/swshHelper.js"></script>
