---
layout: layouts/default.html
title: Battle Tree Helper - adrianywh.bitbucket.io
permalink: /usum.html
tags: pkmn
date: 2020-07-01
navText: Battle Tree Helper
description: "A helper tool to view opponent trainer Pokemon in generation 7 Pokemon ultra sun and ultra moon battle tree facility."
---
<!-- <script>
    gtag('config', 'UA-115953143-3', {
    'page_path': '/usum'
    });
</script> -->

<script src="../assets/vendor/js/jquery.js"></script>

<main role="main" class="container">
    <div class="starter-template content" id="btHelper">
        <form >
            <div class="form-row row">
                <div class="col col-lg-6">
                    <div class="row form-group">
                        <div class="col-lg-4">
                            <label class="label col-form-label" for="selectTrainer">Trainer</label>
                        </div>
                        <div class="col">
                            <select class="form-select" id="selectTrainer">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row row">
                <div class="col col-lg-6">
                    <div class="row form-group">
                        <div class="col-lg-4">
                            <label class="label col-form-label" for="selectPkmn1">Pkmn 1</label>
                        </div>
                        <div class="col">
                            <select class="form-select" id="selectPkmn1">
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-4">
                            <label class="label col-form-label" for="selectSpeedModPkmn1">Speed Modifier</label>
                        </div>
                        <div class="col">
                            <select class="form-select" id="selectSpeedModPkmn1">
                                <option value="4.0">+6</option>
                                <option value="3.5">+5</option>
                                <option value="3.0">+4</option>
                                <option value="2.5">+3</option>
                                <option value="2.0">+2</option>
                                <option value="1.5">+1</option>
                                <option value="1.0" selected>0</option>
                                <option value="0.66">-1</option>
                                <option value="0.5">-2</option>
                                <option value="0.4">-3</option>
                                <option value="0.33">-4</option>
                                <option value="0.28">-5</option>
                                <option value="0.25">-6</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-4">
                            <label class="label col-form-label" for="pkmn1Abilities">Ability</label>
                        </div>
                        <div class="col">
                            <span id = "pkmn1Abilities"></span>
                        </div>
                    </div>
                    <table id="resultTable1" class="table table-striped table-hover">
                    </table>
                </div>
                <div class="col col-lg-6">
                    <div class="row form-group">
                        <div class="col-lg-4">
                            <label class="label col-form-label" for="selectPkmn2">Pkmn 2</label>
                        </div>
                        <div class="col">
                            <select class="form-select" id="selectPkmn2">
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-4">
                            <label class="label col-form-label" for="selectSpeedModPkmn2">Speed Modifier</label>
                        </div>
                        <div class="col">
                            <select class="form-select" id="selectSpeedModPkmn2">
                                <option value="4.0">+6</option>
                                <option value="3.5">+5</option>
                                <option value="3.0">+4</option>
                                <option value="2.5">+3</option>
                                <option value="2.0">+2</option>
                                <option value="1.5">+1</option>
                                <option value="1.0" selected>0</option>
                                <option value="0.66">-1</option>
                                <option value="0.5">-2</option>
                                <option value="0.4">-3</option>
                                <option value="0.33">-4</option>
                                <option value="0.28">-5</option>
                                <option value="0.25">-6</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-4">
                            <label class="label col-form-label" for="pkmn2Abilities">Ability</label>
                        </div>
                        <div class="col">
                            <span id = "pkmn2Abilities"></span>
                        </div>
                    </div>
                    <table id="resultTable2" class="table table-striped table-hover">
                    </table>
                </div>
            </div>
            <br>
            <br>
            <div class="buttons d-flex justify-content-end">
                <button type="button" class="btn btn-warning" onclick="resetBtForm()">Reset</button>
            </div>
        </form>
        <br>
        <div class="footer">
            <div class="container">
                Notes:
                <ul>
                    <li>
                        <strong>Speed Tier is an estimate.</strong>
                    </li>
                    <li>
                        <a href="https://docs.google.com/spreadsheets/d/1D7T0jCHBkDppjTB0_rJyK0houk8zE3wLmZ1DlVXEkXg/edit#gid=2141715632" target="_blank" rel="noopener noreferrer">Ultra
                            Sun/Moon Trainer and Moveset Data</a> courtesy of Team Rocket Elite from
                        <a href="http://www.smogon.com/forums/threads/battle-tree-discussion-and-records.3587215/" target="_blank" rel="noopener noreferrer">Smogon-
                            Battle Tree Discussion and Records</a>
                    </li>
                    <li>Developed using <a href="https://jquery.com/" target="_blank" rel="noopener noreferrer">jquery</a>, <a href="https://getbootstrap.com/" target="_blank" rel="noopener noreferrer">bootstrap</a> and <a href="https://www.11ty.dev/" target="_blank" rel="noopener noreferrer">eleventy</a></li>
                    <li>Bug report/ comments: 
                        <a href="https://bitbucket.org/adrianywh/adrianywh.bitbucket.io/issues" target="_blank" rel="noopener noreferrer">here</a>
                    </li>
                    <li>Pokémon is © of Nintendo, 1995-2020</li>
                </ul>
            </div>
        </div>
    </div>
</main>
<script src="../assets/js/btHelper.js"></script>
