<a href="https://twitter.com/intent/tweet?screen_name=adrianywh&ref_src=twsrc%5Etfw" class="twitter-mention-button"
    data-show-count="false">Tweet to @adrianywh</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>