<!-- script to enable navbar items to work-->
<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {

                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);

                // Toggle the "active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('active');
                $target.classList.toggle('active');

                });
            });
        }

    });
</script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{site.baseurl}}/">AdrianYWH</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Pkmn
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {%- for item in collections.pkmn -%}
                    <a {% if page.url == item.url %}class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="{{site.baseurl}}{{ item.url }}">
                        {{item.data.navText}}
                    </a>
                {%- endfor -%}
            </ul>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                SOSFOMT
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {%- for item in collections.sosfomt -%}
                    <a {% if page.url == item.url %}class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="{{site.baseurl}}{{ item.url }}">
                        {{item.data.navText}}
                    </a>
                {%- endfor -%}
            </ul>
          </li>
          </li>
          <li>
            {%- for item in collections.page -%}
                <a {% if page.url == item.url %}class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{site.baseurl}}{{ item.url }}">
                    {{item.data.navText}}
                </a>
            {%- endfor -%}
          </li>
        </ul>
      </div>
    </div>
  </nav>